SECRET_KEY=change-this-secret-key
DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=blog
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-password

DATABASE_URL=postgres://postgres:change-this-password@db:5432/blog

CELERY_BROKER_URL=redis://redis:6379/0

DJANGO_EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_app_password
DEFAULT_FROM_EMAIL=your_email@gmail.com
